a:focus{ outline:0 solid}
img{
    max-width: 100%;
    height: auto;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 700;

}

/*html,body{height: 100%}*/

body{
    background: #ddd;
    font-family: poppins;
}
a{
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color:rgba(11, 10, 10, 0.5);
}
a:hover{text-decoration:none}




.section-header{
    text-align: center;         /*tac*/
    margin-bottom: 30px;        /*mb30*/
    margin-top: 5px;
}
.section-header h2{
    background-color: rgba(11, 10, 10, 0.5); /* Transparent white background */
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    color:bisque;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    z-index: 2;  /*Place the h2 in front of the background */
}

.section-header p{
    font-size: 18px;
    background-color: rgba(11, 10, 10, 0.5); /* Transparent white background */
    padding: 20px;
    border-radius: 10px;
    color:bisque;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
    z-index: 1; /* Place the h2 in front of the background */
}

.single-service{
    border: 1px solid #ebebeb;
    text-align: center;
    background: #fff;
}
.service-bg{
    height: 200px;
    position: relative;
}
.service-bg-1{
    background: url("h-1.jpg");
    -webkit-background-size:cover ;
    background-size: cover;
    background-position:center;

}
.service-bg-2{
    background: url("cc.jpg");
    -webkit-background-size:cover ;
    background-size: cover;
    background-position:center;

}
.service-bg-3{
    background: url("dd.jpg");
    -webkit-background-size:cover ;
    background-size: cover;
    background-position:center;
}

.service-bg h2{
    color: #fff;
    background: tomato;
    border: 1px solid tomato;
    font-size: 17px;
    text-align: center;
    font-weight: 700;
    padding: 15px;
    position: absolute;
    left:8%;
    width:84%;
    margin: 0;
    bottom: -25px;
    border-radius: 50px;
    letter-spacing: 2px;
}
.single-service:hover .service-bg h2{
    background: #fff;
    transition: .9s;
    color:tomato;
}
.service-text{
    padding: 50px 30px 20px;
    font-size: 15px;
    font-weight: 400;
}
.service-text p:last-child{
    margin: 0;
    line-height: 1.8;
}
.btn-area{
    display: inline-block;
    color: #333;
    font-size: 17px;
    font-weight: 700;
    margin-top: 30px;
    text-transform: capitalize;

}

@media only screen and (max-width:767px){
    .single-service{
        margin-top: 30px;
    }
    .service-bg h2{
        font-size: 13px;
    }
}


